body {
    background-color: rgb(19, 29, 32);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    align-items: center;
    text-align: center;

}
header {
    font-size: 35px;
    background-color: rgba(187, 223, 255, 0.678);
    backdrop-filter: blur(10px);
    border-radius: 5px;
}
#cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 30px; 
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}
.card { 
    font-size: 15px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.767);
    animation: CardsAnim 0.3s ease;
 margin: 10px;
    width: 90%;
    height: 330px;
display: flex;
text-align: center at start;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(210, 234, 255);
    flex-direction: column;
    align-items: center;  
    padding: 10px;    
    overflow: hidden;
    
}
.IMGplace {
    height: auto;
width: 86%;
    border-radius: 5px;
    order: 1;
}
p {
    size: 5%;
    color: black;
}
@keyframes CardsAnim {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 0.5;
          transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);   
    }
}

@keyframes SpecialCard {
    0% { background-color: aquamarine; }
    50% { background-color: rgb(255, 214, 127); }
    100% { background-color: rgb(127, 225, 255); }
}

.Play-Animation {
    animation: SpecialCard 6s infinite ease-in-out !important;
}