

body {
   height: 50vh;
font-family: "Science Gothic";
    color: white;
    text-align: center; 
}
.bg {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}


h1 {
  transition: transform 2s ease;
font-size: 50px;
margin-top: 0px;
}
h1:hover {
  transform: scale(1.1);

}
#TheLogging {
    background-color: rgba(255, 255, 255, 0.575);
    backdrop-filter: blur(10px);
    width: 350px;
    height: 390px;
    position: relative;
    left: 37%;
    font-size: 25px;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 15px #ffffffd2;
}
input {
    background-color: rgba(255, 255, 255, 0.555);
    height: 35px;
    width: 270px;
    border-radius: 40px;
    text-align: center;
    border-style: none;
    border-color: black;
    margin-top: 35px;
    transition: transform 2s ease;
  
}
input:focus {
  transform: translateY(10px);
}
#Reg {
  height: 7%;
  position: relative;
  display: grid;
  left: 35%;
  top: 8%;
  font-size: 20px;
  border-radius: 5px;
  border-style: solid;
  box-shadow: 0px 0px 10px black
}
.Help {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-style: oblique;
  text-decoration: none;
  position: fixed;
  right: 5px;
display: contents;
top: 9%;
}
@keyframes Shadow {
    0% {
        box-shadow: 0px 0px 10px rgba(31, 31, 31, 0);
    }
    100% {
        box-shadow: 0px 0px 10px rgba(31, 31, 31, 0.8);
    }
}